@media only screen and (max-width: 1089px) {
    body {
        height: 100%;
        margin: 0;
        background-color: rgba(255, 234, 172, 0.967);
        }
        h1 {
         display: block;
         text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         font-size: 30px;
         color: rgb(190, 37, 37);
         text-shadow: 2px 2px 2px rgba(255, 203, 49, 0.962),
                     1px 1px 1px rgba(255, 203, 49, 0.962);
        }
        .line{
        display: block;
        text-align: center;
        }
        
        div.block{
        display:inline-block;
        padding:20px;
        margin-right: 120px;
        margin-left: 120px;
        margin-bottom: 5px;
        }
        .input {
        display: block;
        width: 130px;
        height: 15px;
        font-size: 16px;
        text-align: center;
        border: rgba(255, 234, 172, 0.967);
        border-radius: 20px;
        background-color: rgba(255, 234, 172, 0.967);  
        }
        
        .one {
        display: block;
        width: 130px;
        height: 25px;
        font-size: 15px;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(113, 175, 242, 0.949);  
        }
        
        .firstline{
        display: block;    
        text-align: center;
        }
        div.blockone{
        display:inline-block;
        padding:20px;
        margin-right: 120px;
        margin-left: 120px;
        margin-bottom: 5px;
        }
        .secondline{
        display: block; 
        text-align: center;
        }
        div.blocktwo{
        display:inline-block;
        padding: 20px;
        background-color: rgb(129, 237, 90);
        width: 130px;
        height: 15px;
        border: 3px dotted yellow;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        .thirdline{
        display: block; 
        text-align: center;
        }
        div.blockthree{
        display:inline-block;
        padding:20px;
        margin-right:150px;
        margin-left: 150px;
        margin-top: 5px;
        width: 50px;
        height: 50px;
        background-color: rgb(240, 235, 62);
        border: 5px double rgb(235, 141, 27);
        border-radius: 120px;
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
}
@media only screen and (max-width: 833px) {
    body {
        height: 100%;
        margin: 0;
        background-color: rgba(255, 234, 172, 0.967);
        }
        h1 {
         display: block;
         text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         font-size: 15px;
         color: rgb(190, 37, 37);
         text-shadow: 2px 2px 2px rgba(255, 203, 49, 0.962),
                     1px 1px 1px rgba(255, 203, 49, 0.962);
        }
        .line{
        display: block;
        text-align: center;
        }
        
        div.block{
        display:inline-block;
        padding:10px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 3px;
        }
        .input {
        display: block;
        width: 80px;
        height: 10px;
        font-size: 10px;
        text-align: center;
        border: rgba(255, 234, 172, 0.967);
        border-radius: 20px;
        background-color: rgba(255, 234, 172, 0.967);  
        }
        
        .one {
        display: block;
        width: 80px;
        height: 10px;
        font-size: 10px;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(113, 175, 242, 0.949);  
        }
        .firstline{
        display: block;    
        text-align: center;
        }
        div.blockone{
        display:inline-block;
        padding:10px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 3px;
        }
        .secondline{
        display: block; 
        text-align: center;
        }
        div.blocktwo{
        display:inline-block;
        padding: 10px;
        background-color: rgb(129, 237, 90);
        width: 90px;
        height: 10px;
        border: 2px dotted yellow;
        border-radius: 30px;
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        .thirdline{
        display: block; 
        text-align: center;
        }
        div.blockthree{
        display:inline-block;
        padding:10px;
        margin-right:115px;
        margin-left: 115px;
        margin-top: 3px;
        width: 35px;
        height: 35px;
        background-color: rgb(240, 235, 62);
        border: 3px double rgb(235, 141, 27);
        border-radius: 100px;
        font-size: 8px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        div.blockfour{
            display: block;
            padding:25px;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }
        div.buttonn{
            display: block;
            padding:20px;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            color: rgba(239, 103, 30, 0.907);
            text-shadow: 1px 1px 1px rgba(250, 216, 113, 0.962),
                         1px 1px 1px rgba(250, 216, 113, 0.962);
        }
}
@media only screen and (max-width: 620px) {
    body {
        height: 100%;
        margin: 0;
        background-color: rgba(255, 234, 172, 0.967);
        }
        h1 {
         display: block;
         text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         font-size: 15px;
         color: rgb(190, 37, 37);
         text-shadow: 2px 2px 2px rgba(255, 203, 49, 0.962),
                     1px 1px 1px rgba(255, 203, 49, 0.962);
        }
        .line{
        display: block;
        text-align: center;
        }
        
        div.block{
        display:inline-block;
        padding:5px;
        margin-right: 80px;
        margin-left: 80px;
        margin-bottom: 2px;
        }
        .input {
        display: block;
        width: 64px;
        height: 8px;
        font-size: 8px;
        text-align: center;
        border: rgba(255, 234, 172, 0.967);
        border-radius: 20px;
        background-color: rgba(255, 234, 172, 0.967);  
        }
        
        .one {
        display: block;
        width: 64px;
        height: 8px;
        font-size: 8px;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(113, 175, 242, 0.949);  
        }
        .firstline{
        display: block;    
        text-align: center;
        }
        div.blockone{
        display:inline-block;
        padding:5px;
        margin-right: 80px;
        margin-left: 80px;
        margin-bottom: 2px;
        }
        .secondline{
        display: block; 
        text-align: center;
        }
        div.blocktwo{
        display:inline-block;
        padding: 7px;
        background-color: rgb(129, 237, 90);
        width: 70px;
        height: 7px;
        border: 2px dotted yellow;
        border-radius: 30px;
        font-size: 7px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        .thirdline{
        display: block; 
        text-align: center;
        }
        div.blockthree{
        display:inline-block;
        padding:7px;
        margin-right:80px;
        margin-left: 80px;
        margin-top: 2px;
        width: 25px;
        height: 25px;
        background-color: rgb(240, 235, 62);
        border: 2px double rgb(235, 141, 27);
        border-radius: 100px;
        font-size: 7px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        div.blockfour{
            display: block;
            padding:15px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
        }
        div.buttonn{
            display: block;
            padding:10px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            color: rgba(239, 103, 30, 0.907);
            text-shadow: 1px 1px 1px rgba(250, 216, 113, 0.962),
                         1px 1px 1px rgba(250, 216, 113, 0.962);
        }
}
@media only screen and (max-width: 480px) {
    body {
        height: 100%;
        margin: 0;
        background-color: rgba(255, 234, 172, 0.967);
        }
        h1 {
         display: block;
         text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         font-size: 10px;
         color: rgb(190, 37, 37);
         text-shadow: 2px 2px 2px rgba(255, 203, 49, 0.962),
                     1px 1px 1px rgba(255, 203, 49, 0.962);
        }
        .line{
        display: block;
        text-align: center;
        }
        
        div.block{
        display:inline-block;
        padding:5px;
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 2px;
        }
        .input {
        display: block;
        width: 45px;
        height: 5px;
        font-size: 6px;
        text-align: center;
        border: rgba(255, 234, 172, 0.967);
        border-radius: 20px;
        background-color: rgba(255, 234, 172, 0.967);  
        }
        
        .one {
        display: block;
        width: 45px;
        height: 5px;
        font-size: 6px;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(113, 175, 242, 0.949);  
        }
        .firstline{
        display: block;    
        text-align: center;
        }
        div.blockone{
        display:inline-block;
        padding:5px;
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 2px;
        }
        .secondline{
        display: block; 
        text-align: center;
        }
        div.blocktwo{
        display:inline-block;
        padding: 5px;
        background-color: rgb(129, 237, 90);
        width: 50px;
        height: 5px;
        border: 2px dotted yellow;
        border-radius: 30px;
        font-size: 5px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        .thirdline{
        display: block; 
        text-align: center;
        }
        div.blockthree{
        display:inline-block;
        padding:5px;
        margin-right:50px;
        margin-left: 50px;
        margin-top: 2px;
        width: 15px;
        height: 15px;
        background-color: rgb(240, 235, 62);
        border: 2px double rgb(235, 141, 27);
        border-radius: 100px;
        font-size: 5px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        }
        div.blockfour{
            display: block;
            padding:10px;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
        }
        div.buttonn{
            display: block;
            padding:5px;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            color: rgba(239, 103, 30, 0.907);
            text-shadow: 1px 1px 1px rgba(250, 216, 113, 0.962),
                         1px 1px 1px rgba(250, 216, 113, 0.962);
        }
}
